{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/timeline.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m4 l8">
            <span class="date">2021</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <a href = 'https://www.rocscience.com/about/internships' class="title">[internship] 3D stuff at Rocscience</a>
                    </div>
                    <span class="content">
                        I conducted research and ran experiments on replacing Finite Element Analysis for Regional Convergence Prediction (stress modelling in 3D geometrical models)
                        for the flagship product (RS3) using Machine Learning. My project aimed at developing a Graph Convolutional Network (GCN) 
                        that can predict the probability of different mesh regions causing non-convergence. The GCN scales linearly in the number of graph edges and learns hidden layer representations that 
                        encode both local graph structure and features of nodes. The overall functionality improves upon the current Mesh Quality function of RS3 and defines a process that increases the ability 
                        to identify problem areas. I also developed and integrated a Mesh Parsing framework with RS3 in C# that parses out the 3D mesh geometries in a graph with all the data.
                        Throughout my co-op term, I conducted numerous experiments with different algorithms, feature engineering and optimization techniques to optimize the Neural Network’s performance. 
                        I also worked with different Machine Learning algorithms which helped me look at the problem from different angles. This co-op term was also an introduction to 
                        Computational Geometry for me. With the help and guidance from my supervisors, I was able to implement and optimize complex graph algorithms.
                    </span>
                </li>
            </ul>
        </div>
        <div class="col s12 m4 l8">
            <span class="date">2020</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <span class="title">[internship] Stealth Startup</span>
                    </div>
                    <span class="content">
                        My original summer 2020 co-op got cancelled last minute so I worked at this Stealth Mode Startup working on a COVID Mask Detection app.
                        There were 4 members in the team and 2 co-ops. I worked on integrating a voice based COVID survey form with their core iOS app in Swift. I integrated face detection 
                        with the main app by coding MTCNN from scratch in Swift with the help of tf-lite methods in Objective-C. I had to write a wrapper from Objective-C to Swift to expose
                        tf-lite methods in Swift since tf-lite didn't have extensive support for Swift then. I also worked on an Object Detection pipeline on live video feed. <br>
                        
                        Update (Feb, 2021): tf-lite now fully supports Swift . 
                    </span>
                </li>

            </ul>

            <span class="date">2019</span>
            <ul class="list">
                
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <span class="title">[internship] Machine Learning @ IBM Watson </span>
                    </div>
                    <span class="content"> 
                        This was a very Machine Learning focused co-op at IBM Watson, the mastermind behind all IBM AI services. I was lucky to get an opportunity
                        to work on an NDA Facial recognition service implementing papers on ArcFace, EVM classifiers, PyTorch and Multi-Task Cascaded Convolutional Neural Networks (MTCNN) aimed 
                        at solving the <a href = 'https://arxiv.org/abs/1705.01567'> Open-Set Facial Recognition problem </a>. I got to work on a PoC pipeline for a client project
                        where I worked on TensorFlow object detection and Keras Classification Models. I also worked on dockerizing and integrating this service with the IBM locker app for the 
                        IBM toronto office. Worked with <a href = 'https://github.com/ZhaoJ9014/face.evoLVe.PyTorch'>face.evoLVe: High-Performance Face Recognition Library based on PyTorch 
                        and <a href = 'https://arxiv.org/abs/1604.02878'>MTCNN</a> for face detection. I worked with TensorFlow for Computer Vision algorithms. I worked on some iOS development
                        on this co-op as well.
                
                    </a>
                    </span>
                </li>

                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <span class="title">[internship] Consulting @ KPMG </span>
                    </div>
                    <span class="content"> At KPMG Lighthouse, I learnt the basics of Software Consulting from the very best. 
                    My mentor was <a href = 'https://www.linkedin.com/in/carlbarrelet/'>Carl Barrelet</a> himself. I also got the opportunity to work under <a href='https://github.com/ShuaiW'>Shuai Wang</a>,
                    Co-Founder of ROSS Intelligence who was my manager. This was my introduction to the world of consulting and I got to work on a various Client projects. I also worked on
                    a full-stack abstractive text summarizer webapp as a part of the assets project for my team. I worked on an NLP document classification pipeline for an NDA client. I ran experiments with different NLP
                    techniques like BERT Embeddings, NER, standard algorithms like tf-idf, Vectorization, Tokenization etc. I worked on tuning hyperparameters and optimizing the architecture 
                    for intent classifcation LSTM models for client chatbots. I also worked on integrating some microservices with iOS KPMG app. I learnt a lot about NLP, got to work on cool
                    web development stuff and general software engineering tasks like an writing a XML parser to parse unstructured documents based on Tree-Based parsing techniques. 
                   
                    </span>
                </li>    
            </ul>
            <span class="date">2018</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">work</i>
                        <span class="title">[internship] Software Dev @ Finastra</span>
                    </div>
                    <span class="content">I worked in the Student Loans team at Finastra (One of the largest fintech companies in the world, according to their website). Primarily spearheaded the development of an employee productivity tracker Windows application (WPF) with C#, .NET which was
                    deployed to ~450 employees at the end of my internship. The application was inspired from an ancient internal tool/application in VB.NET. I also automated a few manual book keeping processes by developing
                    console applications in C#. Also I got to work with the core MySQL database for my team. I wrote Stored Procedures (SPs) in MySQL. I
                    optimized the SPs for my Windows Application and improveds the time efficiency of the queries in original VB.NET app by 15%. 

                </span>
                </li>
                
            </ul>
            <span class="date">2017</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">school</i>
                        <span class="title">Undergrad at University of Waterloo </span>
                    </div>
                    <span class="content"> I started my Waterloo journey and decided to major in Computer Engineering. This decision was motivated by the fact that 
                                           Computer Engineering at Waterloo is an interdisciplinary program with an emphasis on both software aspect from Computer Science
                                           and digital hardware. Computer Engineers learn how software and hardware interacts with each other which, I believe, is a very important skill.    
                                           In first year, we take General Science (Classical Mechanics, E&M, Physical Chemistry), Calculus, Introductory Circuits, 
                                           Digital Hardware and Programming Courses. Although I did well academically in first year but I realized I wasn't really a big fan of the the EE
                                           type courses (Most Circuits courses are just Calculus Courses in disguise). This is when I discovered my interest for ML/Data Science & Web Development after I took up 
                                           some Online courses (Andrew Ng, of course) and worked on some side projects. So I decided to join the UW Data Science club. 
                                        </span>
                </li>
            </ul>
            <span class="date">2015-2017</span>
            <ul class="list">
                <li>
                    <div class="icon-title">
                        <i class="tiny material-icons">book</i>
                        <span class="title">[edu] High School</span>
                    </div>
                    <span class="content"> I was a big nerd in High School! I read a lot of books. From Kazuo Ishiguro's Never Let Me Go to David Burton's Books on Number Theory.
                        I remember reading Feynmann's Lectures on Physics and getting excited that I would get to learn this in uni. Summers were spent in the library and Tennis Courts.  
                        I also spent innumerable hours studying for all the Science and Math Contests I was appearing for. 
                        I was really active on <a href= "https://brilliant.org/">Brilliant</a> and was really passionate about Computer Science and Math, especially Number Theory 
                        and Combinatorics. In the end, it was all worth the effort and I graduated from High School with a 96% average and got accepted to Waterloo! YAY!!
                          </span>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
</div>

<!--<li><a href="/projects/" class="title">[]</a>
    <span class="content"></span></li>-->
{% endblock %}
